@import url("http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic|Merriweather:400,300italic,300,400italic,700,700italic,900,900italic");
.grid:after {
  content: "";
  display: table;
  clear: both; }

.srt, .form__label--hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

.panel--centered, .panel--padded--centered, [class^="btn-"] {
  text-align: center; }

.icn--nav-toggle:before {
  display: block;
  content: '';
  position: absolute; }

.centered, .grid {
  float: none;
  margin-left: auto;
  margin-right: auto; }

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block; }

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden],
template {
  display: none; }

a {
  background: transparent; }

a:active,
a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 1em 40px; }

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
html input[disabled] {
  cursor: default; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

*
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: bold; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

* {
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  color: #797e83;
  font-size: 16px;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.5; }

h3 {
  font-size: 1.125em; }

h4 {
  font-size: 1em; }

h5 {
  font-size: 0.75em; }

a {
  color: #656a6e;
  text-decoration: none;
  font-weight: 400; }

b {
  font-weight: 600; }

code {
  background-color: #ebecec;
  padding: 0.25em;
  border-radius: 0.25em;
  box-shadow: 0 0 0px 1px #525559;
  margin: 0 0.25em; }

kbd {
  background-color: #ebecec;
  padding: 0.125em 0.5em;
  border-radius: 0.25em;
  box-shadow: 0 0.125em 0px 1px #999da1, 0 0.25em 10px 0px #d6d7d9;
  margin: 0 0.25em; }

pre {
  background-color: #ebecec;
  padding: .5em;
  border-radius: 10px; }

strong {
  font-weight: bold; }

i {
  font-style: italic; }

em {
  font-style: italic;
  font-weight: bold; }

p {
  margin: 0 0 1.5em;
  font-weight: 300;
  font-size: 1em;
  line-height: 1.5;
  font-family: "Merriweather", Helvetica, Arial, sans-serif; }

blockquote {
  font-weight: 300;
  font-style: italic;
  font-size: 1.125em; }
  @media (min-width: 769px) {
    blockquote {
      font-size: 1.25em; } }

ul,
li {
  margin: 0;
  padding: 0; }

img {
  margin-bottom: 1.5em;
  max-width: 100%;
  height: auto; }

input,
textarea {
  display: block;
  padding: 15px;
  width: 100%;
  outline: 0;
  border: 0; }

input:focus,
textarea:focus {
  transition: 0.3s; }

button {
  outline: 0; }

footer {
  border-top: 1px solid #ebecec; }
  footer p {
    font-size: 1em;
    margin-top: 1.375em; }

table {
  width: 100%;
  color: #525559; }
  table td, table th {
    border-width: 0.125em;
    border-style: solid;
    padding: 0.5em; }
  table thead th {
    color: #fff; }

.panel, .panel--centered {
  padding-top: 1.875em;
  padding-bottom: 1.25em; }

.panel--padded, .panel--padded--centered {
  padding-top: 5em;
  padding-bottom: 2.125em; }

.grid {
  width: 90%;
  position: relative;
  z-index: 2; }
  [class*="grid__col--"] > .grid {
    width: 100%; }
  @media (min-width: 1100px) {
    .grid {
      max-width: 1050px; } }

@media (min-width: 769px) {
  .grid__col--1 {
    width: 6.5%; }

  .grid__col--2 {
    width: 15%; }

  .grid__col--3 {
    width: 23.5%; }

  .grid__col--4 {
    width: 32%; }

  .grid__col--5 {
    width: 40.5%; }

  .grid__col--6 {
    width: 49%; }

  .grid__col--7 {
    width: 57.5%; }

  .grid__col--8 {
    width: 66%; }

  .grid__col--9 {
    width: 74.5%; }

  .grid__col--10 {
    width: 83%; }

  .grid__col--11 {
    width: 91.5%; }

  .grid__col--12 {
    width: 100%; } }
@media (min-width: 1px) and (max-width: 768px) {
  [class^="grid__col--"] {
    margin-top: 0.75em;
    margin-bottom: 0.75em; } }
@media (min-width: 769px) {
  [class^="grid__col--"] {
    float: left;
    min-height: 1px;
    padding-left: 10px;
    padding-right: 10px; }
    [class^="grid__col--"] + [class^="grid__col--"] {
      margin-left: 2%; }
    [class^="grid__col--"]:last-of-type {
      float: right; } }

.nav__item, .nav__item--current {
  display: inline-block;
  margin: 0 0.75em; }

.nav__item a, .nav__item--current a {
  font-size: 1.125em;
  font-weight: 300;
  display: block;
  padding: 0.44444em;
  border: 1px solid transparent; }

.nav__item a:hover, .nav__item--current a {
  color: #0b0b0b;
  border-color: #0b0b0b; }

h1, .headline-primary, .headline-primary--grouped {
  font-weight: 300;
  font-size: 2.625em;
  line-height: 1.09524;
  margin-top: 0; }

h2, .headline-secondary, .headline-secondary--grouped {
  letter-spacing: 1px;
  font-weight: 100;
  font-size: 1.5em;
  font-family: "Merriweather", Helvetica, Arial, sans-serif; }

h3, h4, h5 {
  color: #999da1;
  letter-spacing: 1px;
  font-weight: 100;
  font-family: "Merriweather", Helvetica, Arial, sans-serif; }

.form__btn, [class^="btn-"] {
  padding: 15px 30px;
  border: 0;
  color: #fff;
  text-transform: uppercase;
  font-size: 0.875em;
  letter-spacing: 1px;
  font-weight: 700;
  transition: opacity 0.3s;
  display: block; }
  .form__btn:active, [class^="btn-"]:active {
    opacity: initial; }

.icn--nav-toggle {
  line-height: 0;
  cursor: pointer; }

.img--wrap {
  border: 1px solid #d6d7d9;
  padding: 0.75em; }
.img--avatar {
  display: block;
  border-radius: 50%;
  margin-top: 1.5em; }
.img__full {
  margin-bottom: 2.625em;
  position: relative;
  min-height: 30em; }
  .img__full--hero {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-size: cover;
    z-index: 1;
    background-color: #fde0e2; }

.headline-primary {
  color: #525559;
  margin-bottom: 1.66667em; }
  .headline-primary--grouped {
    color: #d05e00;
    margin-bottom: 0; }
.headline-secondary {
  margin-bottom: 0.91667em;
  color: #999da1; }
  .headline-secondary--grouped {
    color: #00689a;
    margin-top: 0.41667em;
    margin-bottom: 2.25em; }

.form__label {
  display: block;
  margin-bottom: 0.625em; }
.form__input {
  font-size: 1em;
  margin-bottom: 1.11111em;
  border: 2px solid #d6d7d9;
  background: #ebecec;
  color: black;
  font-weight: 300; }
  .form__input:hover {
    border-color: #7fc4e6; }
  .form__input:focus {
    border-color: #008acd; }
.form__btn {
  background: #008acd; }

.btn-primary--default-special {
  box-shadow: 0 0 0 2px #008acd;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  transition: all 0.5s ease;
  position: relative;
  overflow: hidden;
  color: #008acd;
  background-color: transparent; }
  .btn-primary--default-special span {
    position: relative;
    z-index: 10; }
  .btn-primary--default-special:after {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    transition: all 0.5s ease;
    content: "";
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 0;
    background-color: #008acd; }
  .btn-primary--default-special:hover {
    box-shadow: 0 0 0 2px #008acd;
    color: white; }
    .btn-primary--default-special:hover:after {
      height: 100%; }
.btn-primary--default {
  box-shadow: 0 0 0 2px #3c84a8;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  transition: all 0.5s ease;
  position: relative;
  overflow: hidden;
  color: #3c84a8;
  background-color: transparent; }
  .btn-primary--default span {
    position: relative;
    z-index: 10; }
  .btn-primary--default:after {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    transition: all 0.5s ease;
    content: "";
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 0;
    background-color: #3c84a8; }
  .btn-primary--default:hover {
    box-shadow: 0 0 0 2px #3c84a8;
    color: white; }
    .btn-primary--default:hover:after {
      height: 100%; }
.btn-primary--default-alt {
  box-shadow: 0 0 0 2px #054a6c;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  transition: all 0.5s ease;
  position: relative;
  overflow: hidden;
  color: #054a6c;
  background-color: transparent; }
  .btn-primary--default-alt span {
    position: relative;
    z-index: 10; }
  .btn-primary--default-alt:after {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    transition: all 0.5s ease;
    content: "";
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 0;
    background-color: #054a6c; }
  .btn-primary--default-alt:hover {
    box-shadow: 0 0 0 2px #054a6c;
    color: white; }
    .btn-primary--default-alt:hover:after {
      height: 100%; }
.btn-primary--success {
  box-shadow: 0 0 0 2px #189b50;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  transition: all 0.5s ease;
  position: relative;
  overflow: hidden;
  color: #189b50;
  background-color: transparent; }
  .btn-primary--success span {
    position: relative;
    z-index: 10; }
  .btn-primary--success:after {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    transition: all 0.5s ease;
    content: "";
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 0;
    background-color: #189b50; }
  .btn-primary--success:hover {
    box-shadow: 0 0 0 2px #189b50;
    color: white; }
    .btn-primary--success:hover:after {
      height: 100%; }
.btn-primary--error {
  box-shadow: 0 0 0 2px #ee232d;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  transition: all 0.5s ease;
  position: relative;
  overflow: hidden;
  color: #ee232d;
  background-color: transparent; }
  .btn-primary--error span {
    position: relative;
    z-index: 10; }
  .btn-primary--error:after {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    transition: all 0.5s ease;
    content: "";
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 0;
    background-color: #ee232d; }
  .btn-primary--error:hover {
    box-shadow: 0 0 0 2px #ee232d;
    color: white; }
    .btn-primary--error:hover:after {
      height: 100%; }
.btn-primary--warning {
  box-shadow: 0 0 0 2px #FF7604;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  transition: all 0.5s ease;
  position: relative;
  overflow: hidden;
  color: #FF7604;
  background-color: transparent; }
  .btn-primary--warning span {
    position: relative;
    z-index: 10; }
  .btn-primary--warning:after {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    transition: all 0.5s ease;
    content: "";
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 0;
    background-color: #FF7604; }
  .btn-primary--warning:hover {
    box-shadow: 0 0 0 2px #FF7604;
    color: white; }
    .btn-primary--warning:hover:after {
      height: 100%; }
.btn-primary--info {
  box-shadow: 0 0 0 2px #87003F;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  transition: all 0.5s ease;
  position: relative;
  overflow: hidden;
  color: #87003F;
  background-color: transparent; }
  .btn-primary--info span {
    position: relative;
    z-index: 10; }
  .btn-primary--info:after {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    transition: all 0.5s ease;
    content: "";
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 0;
    background-color: #87003F; }
  .btn-primary--info:hover {
    box-shadow: 0 0 0 2px #87003F;
    color: white; }
    .btn-primary--info:hover:after {
      height: 100%; }

.btn-secondary--default-special {
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  transition: all 0.25s ease;
  background-color: #008acd;
  color: white;
  position: relative;
  overflow: hidden;
  box-shadow: 0 0 0 0px #008acd, 0 0px 4px 0px rgba(82, 85, 89, 0.75); }
  .btn-secondary--default-special:hover {
    box-shadow: 0 0 0 6px #008acd, 0 18px 24px 6px rgba(82, 85, 89, 0.75); }
.btn-secondary--default {
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  transition: all 0.25s ease;
  background-color: #3c84a8;
  color: white;
  position: relative;
  overflow: hidden;
  box-shadow: 0 0 0 0px #3c84a8, 0 0px 4px 0px rgba(82, 85, 89, 0.75); }
  .btn-secondary--default:hover {
    box-shadow: 0 0 0 6px #3c84a8, 0 18px 24px 6px rgba(82, 85, 89, 0.75); }
.btn-secondary--default-alt {
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  transition: all 0.25s ease;
  background-color: #054a6c;
  color: white;
  position: relative;
  overflow: hidden;
  box-shadow: 0 0 0 0px #054a6c, 0 0px 4px 0px rgba(82, 85, 89, 0.75); }
  .btn-secondary--default-alt:hover {
    box-shadow: 0 0 0 6px #054a6c, 0 18px 24px 6px rgba(82, 85, 89, 0.75); }
.btn-secondary--success {
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  transition: all 0.25s ease;
  background-color: #189b50;
  color: white;
  position: relative;
  overflow: hidden;
  box-shadow: 0 0 0 0px #189b50, 0 0px 4px 0px rgba(82, 85, 89, 0.75); }
  .btn-secondary--success:hover {
    box-shadow: 0 0 0 6px #189b50, 0 18px 24px 6px rgba(82, 85, 89, 0.75); }
.btn-secondary--error {
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  transition: all 0.25s ease;
  background-color: #ee232d;
  color: white;
  position: relative;
  overflow: hidden;
  box-shadow: 0 0 0 0px #ee232d, 0 0px 4px 0px rgba(82, 85, 89, 0.75); }
  .btn-secondary--error:hover {
    box-shadow: 0 0 0 6px #ee232d, 0 18px 24px 6px rgba(82, 85, 89, 0.75); }
.btn-secondary--warning {
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  transition: all 0.25s ease;
  background-color: #FF7604;
  color: white;
  position: relative;
  overflow: hidden;
  box-shadow: 0 0 0 0px #FF7604, 0 0px 4px 0px rgba(82, 85, 89, 0.75); }
  .btn-secondary--warning:hover {
    box-shadow: 0 0 0 6px #FF7604, 0 18px 24px 6px rgba(82, 85, 89, 0.75); }
.btn-secondary--info {
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  transition: all 0.25s ease;
  background-color: #87003F;
  color: white;
  position: relative;
  overflow: hidden;
  box-shadow: 0 0 0 0px #87003F, 0 0px 4px 0px rgba(82, 85, 89, 0.75); }
  .btn-secondary--info:hover {
    box-shadow: 0 0 0 6px #87003F, 0 18px 24px 6px rgba(82, 85, 89, 0.75); }

[class^="btn-"] {
  margin-bottom: 1.42857em; }
  @media (min-width: 1px) and (max-width: 768px) {
    [class^="btn-"] {
      width: 100%; } }
  @media (min-width: 769px) {
    [class^="btn-"] {
      width: auto;
      display: inline-block; }
      [class^="btn-"] + [class^="btn-"] {
        margin-left: 20px; } }

.navbar {
  position: relative;
  margin-bottom: 0; }

.menu-toggle {
  border-top: solid 0.125em #797e83;
  border-bottom: solid 0.125em #797e83;
  height: 1.25em;
  width: 1.5em;
  display: inline-block;
  position: relative;
  cursor: pointer; }
  @media (min-width: 600px) {
    .menu-toggle {
      display: none; } }
  .menu-toggle:after {
    display: inline-block;
    content: " ";
    width: 100%;
    border-bottom: 0.125em #797e83 solid;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin-top: -0.0625em; }

.nav {
  margin-bottom: 1.875em; }
  @media (min-width: 601px) and (max-width: 800px) {
    .nav {
      font-size: .8em; } }
  @media (max-width: 600px) {
    .nav {
      display: none; } }
  @media (min-width: 601px) {
    .nav {
      display: block !important; } }
  @media (min-width: 1px) and (max-width: 600px) {
    .nav__item {
      display: block; } }
  .nav__item a {
    color: #797e83;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    transition: all 0.5s ease; }
    .nav__item a:hover {
      -webkit-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      transition: all 0.5s ease; }

.site-logo {
  background-image: url("../img/logo-chicago.jpg");
  background-repeat: no-repeat;
  width: 154px;
  height: 96px;
  display: inline-block;
  background-size: 100%; }

.icn--nav-toggle {
  width: 25px;
  height: 17px;
  border-top: solid 3px #797e83;
  border-bottom: solid 3px #797e83;
  position: relative; }
  .icn--nav-toggle:before {
    width: 25px;
    height: 3px;
    background: #999da1;
    top: 4px; }

.unordered-list {
  padding-left: 1em;
  list-style: square; }
  .unordered-list__item {
    padding-bottom: 0.25em; }
    .unordered-list__item--active {
      color: #540027;
      font-weight: bold; }

.ordered-list {
  padding-left: 1em;
  list-style: lower-roman; }
  .ordered-list__item {
    padding-bottom: 0.25em; }
    .ordered-list__item--active {
      color: #540027;
      font-weight: bold; }

.alternate-list {
  padding-left: 0;
  list-style: none; }
  .alternate-list__item {
    padding-bottom: 0.25em; }
    .alternate-list__item:nth-child(even) {
      background-color: #f2f2f2; }
    .alternate-list__item--active {
      color: #540027;
      font-weight: bold; }

.green-table td, .green-table th {
  border-color: #fff; }
.green-table thead th {
  color: #fff;
  background-color: #189b50; }
.green-table tbody tr:nth-child(even) {
  background-color: #bdf5d5; }
.green-table tbody tr:nth-child(odd) {
  background-color: #fff; }
.green-table tfoot tr {
  color: #fff;
  background-color: #189b50; }

.blue-table td, .blue-table th {
  border-color: #fff; }
.blue-table thead th {
  color: #fff;
  background-color: #005287; }
.blue-table tbody tr:nth-child(even) {
  background-color: #87d0ff; }
.blue-table tbody tr:nth-child(odd) {
  background-color: #fff; }
.blue-table tfoot tr {
  color: #fff;
  background-color: #005287; }

.alternate-table td, .alternate-table th {
  border: none; }
.alternate-table thead th {
  color: #fff;
  background-color: #797e83; }
.alternate-table tbody tr {
  border-top: solid 0.125em #797e83; }
.alternate-table tfoot tr {
  color: #fff;
  background-color: #797e83; }

.quote-right {
  margin: 1.33333em 0;
  padding: 0 5% 0 0;
  border-right: 0.33333em solid #ebecec;
  text-align: right; }
.quote-left {
  margin: 1.33333em 0;
  padding: 0 0 0 5%;
  border-left: 0.33333em solid #ebecec;
  text-align: left; }

/*# sourceMappingURL=application.css.map */
