// ==========================================================================
// Typography
// ==========================================================================

p {
  margin: 0 0 em(24px, 16px);
  font-weight: $font-weight-light;
  font-size: em(16px);
  line-height: (24px/16px);
  font-family: $font-family-secondary;
}

h1 {
  @extend %headline-primary;
}

h2 {
  @extend %headline-secondary;
}

h3 {
  @extend %headline-basic;
  font-size: em(18px);
}


h4 {
  @extend %headline-basic;
  font-size: em(16px);
}

h5 {
  @extend %headline-basic;
  font-size: em(12px);
}
