// ==========================================================================
// Helpers
// ==========================================================================

// Clearfix

.cf {
  &:after {
    content: '';
    display: table;
    clear: both;
  }
}

// Screen reader text

.srt {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

// Center alignment

%center-align {
  text-align: center;
}

// Center elements

.centered {
  text-align: center;
  float: none;
  margin-left: auto;
  margin-right: auto;
}

%headline-primary {
  font-weight: $font-weight-light;
  font-size: 2.625rem;
  line-height: 1.1;
}

%headline-secondary {
  letter-spacing: $letter-space;
  font-weight: $font-weight-thin;
  font-size: 1.5rem;
  font-family: $font-family-secondary;
}

%headline-basic {
  color: palette(grey, light);
  letter-spacing: $letter-space;
  font-weight: $font-weight-thin;
  font-family: $font-family-secondary;
}
