// ==========================================================================
// Typography
// ==========================================================================

p {
  margin: 0 0 1.5em;
  font-weight: $font-weight-light;
  font-size: 1rem;
  line-height: 1.5;
  font-family: $font-family-secondary;
}

h1 {
  @extend %headline-primary;
}

h2 {
  @extend %headline-secondary;
}

h3 {
  @extend %headline-basic;
  font-size: 1.125rem;
}


h4 {
  @extend %headline-basic;
  font-size: 1rem;
}

h5 {
  @extend %headline-basic;
  font-size: 0.75rem;
}
