// ==========================================================================
// Buttons
// ==========================================================================

// Button helpers

%btn {
  padding: 15px 30px;
  border: 0;
  color: $white;
  text-transform: uppercase;
  font-size: em(14px);
  letter-spacing: 1px;
  font-weight: $font-weight-bold;
  transition: opacity 0.15s ease;
  display: block;
  cursor: pointer;
  &:active {
    opacity: initial;
  }
}

%btn__primary{
  position: relative;
  overflow: hidden;
  background-color: transparent;
  transition: all 0.15s ease;
}

%btn__secondary{
  transition: all 0.15s ease;
  color: white;
  position: relative;
  overflow: hidden;
}

%btn__after{
  content: "";
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 0;
}

//This is general styling for buttons so it loosely hits anything with btn class
[class^="btn"] {
  @extend %center-align;
  @extend %btn;
  margin: 0 1.25rem;
  @media (max-width: 768px) {
    width: 100%;
    margin: 0.5em 0;
    &:first-child {
      margin-top: 0;
    }
    &:last-child {
      margin-top: 0;
    }
  }
  @media (min-width: 769px) {
    width: auto;
    display: inline-block;
  }
  &:first-child {
    margin-left: 0;
  }
  &:last-child {
    margin-right: 0;
  }
}

//Styles to overwrite default button styles
.btn-primary {
  @include button-colors-primary($ui-colors);
}
.btn-secondary {
  @include button-colors-secondary($ui-colors);
}
