// ==========================================================================
// Headlines
// ==========================================================================

// Headline helpers

.headline-primary {
  color: palette(grey, x-dark);
  @extend %headline-primary;
  margin-bottom: em(70px, 42px);
  &:first-child {
    margin-top: 0;
  }
  &:last-child {
    margin-bottom: 0;
  }
}

.headline-primary.-grouped {
  color: darken($color-secondary, 10%);
  margin-bottom: 0;
}

.headline-secondary {
  @extend %headline-secondary;
  letter-spacing: $letter-space;
  font-weight: $font-weight-thin;
  font-size: em(24px);
  font-family: $font-family-secondary;
  margin-bottom: em(22px, 24px);
  color: palette(grey, light);
}

.headline-secondary.-grouped {
  color: darken($color-primary, 10%);
  margin-top: em(10px, 24px);
  margin-bottom: em(54px, 24px);
}
