// ==========================================================================
// Headlines
// ==========================================================================

// Headline helpers

.headline-primary {
  color: palette(grey, x-dark);
  @extend %headline-primary;
  margin-bottom: 1.666em;

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.headline-primary--grouped {
  color: darken($color-secondary, 10%);
  margin-bottom: 0;
}

.headline-secondary {
  @extend %headline-secondary;
  letter-spacing: $letter-space;
  font-weight: $font-weight-thin;
  font-size: 1.5rem;
  font-family: $font-family-secondary;
  margin-bottom: 0.9rem;
  color: palette(grey, light);
}

.headline-secondary--grouped {
  color: darken($color-primary, 10%);
  margin-top: 0.4rem;
  margin-bottom: 2.25rem;
}
