// ==========================================================================
// Icons
// ==========================================================================

// Logo

.site-logo {
  background-size:100%;
}

.icon {
  line-height: 0;
  cursor: pointer;
}

.icon__nav-toggle {
  width: 25px;
  height: 17px;
  border-top: solid 3px palette(grey);
  border-bottom: solid 3px palette(grey);
  position: relative;
  @include p-el(before, 25px, 3px) {
    background: palette(grey, light);
    top: 4px;
  }
}
