// ==========================================================================
// Images
// ==========================================================================

.img__wrap {
  border: 1px solid palette(grey, x-light);
  padding: 0.75rem;
}

.img__avatar {
  display: block;
  border-radius: $border-radius-round;
  margin-top: 1.5rem;
}

.img__full {
  margin-bottom: 2.625rem;
  position: relative;
  min-height: 30em;
}

.img__full--hero {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-size: cover;
  z-index: 1;
  background-color: lighten($bc-carnation, 40%);
}
