// ==========================================================================
// Form Elements
// ==========================================================================

.form__label {
  display: block;
  margin-bottom: 0.625em;
}

.form__label--checkbox {
  position: relative;
  padding-left: 1em;
  display: block;
  margin-bottom: 1em;
}

.form__label--hidden {
  @extend .srt;
}

.form__input {
  font-size: 1em;
  margin-bottom: 1.11em;
  border: 2px solid palette(grey, x-light);
  background: palette(grey, xx-light);
  color: palette(black, dark);
  font-weight: $font-weight-light;

  &:hover {
    border-color: mix($color-primary, $white);
  }

  &:focus {
    border-color: $color-primary;
  }
}

.form__btn {
  @extend %btn;
  background: $color-primary;
}

.form__checkbox {
  display: inline-block;
  position: relative;
  left: -0.75rem;
  width: auto;
}
