// ==========================================================================
// Form Elements
// ==========================================================================
[class^="form"]{
  
}
.form {
  &__label {
    &--checkbox {
      position: relative;
      padding-left: em(16px, 16px);
      display: block;
    }
    &--hidden {
      @extend .srt;
    }
    display: block;
    margin-bottom: em(10px);
  }

  &__input {
    font-size: em(16px);
    margin-bottom: em(20px, 18px);
    border: 2px solid palette(grey, x-light);
    background: palette(grey, xx-light);
    color: palette(black, dark);
    font-weight: $font-weight--light;
    &:hover {
      border-color: mix($color-primary, $white);
    }
    &:focus {
      border-color: $color-primary;
    }
  }

  &__btn {
    @extend %btn;
    background: $color-primary;
  }
  &__checkbox {
    display: inline-block;
    position: relative;
    left: em(-12px, 16px);
    width: auto;
  }
}