// ==========================================================================
// Icons
// ==========================================================================

// Logo

.site-logo {
  background-size:100%;
}

// UI
[class^="icn"]{
    @extend %icn--ui;
}

.icn {

  // Nav Toggle
  &__nav-toggle {
    width: 25px;
    height: 17px;
    border-top: solid 3px palette(grey);
    border-bottom: solid 3px palette(grey);
    position: relative;
    @include p-el(before, 25px, 3px) {
      background: palette(grey, light);
      top: 4px;
    }
  }
}
