// ==========================================================================
// Nav
// ==========================================================================

// Nav Item helpers

%nav-item-disp {
  display: inline-block;
  margin: 0 0.75em;
}

%nav-item-link {
  border: 1px solid transparent;
  display: block;
  font-size: 1.125rem;
  font-weight: $font-weight-light;
  padding: 0.5rem;
}

%nav-item-on {
  border-color: $black;
  color: palette(black);
}

.menu-toggle {
  border-bottom: solid em(2px) palette(grey);
  border-top: solid em(2px) palette(grey);
  cursor: pointer;
  display: inline-block;
  height: em(20px);
  position: relative;
  width: em(24px);
  @media (min-width: 600px) {
    display: none;
  }

  &::after {
    border-bottom: 0.125rem palette(grey) solid;
    display: inline-block;
    content: ' ';
    width: 100%;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin-top: -0.0625em;
  }
}

.menu-toggle__label {
  @media (max-width: 50em) {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}

.navbar {
  position: relative;
  margin-bottom: 0;
  background-color: $white;
  @media (max-width: 37.5em) {
    width: 100%;
    box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;
  }
}

.nav {
  margin-bottom: em(30px);
  transition: all 0.15s ease;
  @media (min-width: 601px) and (max-width: 800px) {
    font-size:  .8em;
  }
  @media (max-width: 600px){
    display: none;
  }
  @media (min-width: 601px){
    display: block !important;
  }
}

//Handling menu toggle with checkbox instead of JS
.menu-toggle__input:checked ~ .nav {
  transition: all 0.15s ease;
  @media (max-width: 600px) {
    display: block;
  }
}

.menu-toggle__input:checked ~ .menu-toggle__label {
  height: 4em;
}

.nav__item {
  @extend %nav-item-disp;
  @media (max-width: 600px) {
    display: block;
    margin: 0;
  }
  a {
    @extend %nav-item-link;
    color: palette(grey);
    transition: all 0.5s ease-in;
    &:hover {
      @extend %nav-item-on;
      transition: all 0.5s ease-in;
      @media (max-width: 600px) {
        border-left: 0;
        border-right: 0;
      }
    }
  }
}

.nav__item.-current {
  @extend %nav-item-disp;
  @media (max-width: 600px) {
    display: block;
    margin: 0;
  }
  a {
    @extend %nav-item-link;
    @extend %nav-item-on;
    @media (max-width: 600px) {
      border-left: 0;
      border-right: 0;
    }
  }
}
