// ==========================================================================
// Base Styles
// ==========================================================================

//Focusing on only element level styling for base

* {
  box-sizing: border-box;
}

body {
  color: palette(grey);
  font-size: $base-font-size;
  font-family: $font-family-primary;
  line-height: ($base-line/$base-font-size);
}

p {
  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

a {
  color: palette(grey, dark);
  text-decoration: none;
  font-weight: $font-weight-medium;
}

b {
  font-weight: 600;
}

code {
  background-color: palette(gray, xx-light);
  padding: 0.25rem;
  border-radius: 0.25rem;
  box-shadow: 0 0 0 0.0625rem palette(gray, x-dark);
  margin: 0 0.25rem;
}

kbd {
  background-color: palette(gray, xx-light);
  padding: 0.125rem 0.5rem;
  border-radius: 0.25rem;
  box-shadow: 0 0.125rem 0 0.0625rem palette(gray, light), 0 0.25rem 0.625rem 0 palette(gray, x-light);
  margin: 0 0.25rem;
}

pre {
  background-color: #ebecec;
  padding: 0.5em;
  border-radius: 0.625rem;
  white-space: pre-wrap;
  word-wrap: break-word
}

samp {

}

strong {
  font-weight: bold;
}

i {
  font-style: italic;
}

em {
  font-style: italic;
  font-weight: bold;
}

blockquote {
  font-weight: $font-weight-light;
  font-style: italic;
  font-size: 1.125rem;
  @media (min-width: 48em) {
    font-size: 1.25rem;
  }
}

// Lists

ul,
li {
  margin: 0;
  padding: 0;
}

// Images

img {
  margin-bottom: 1.5em;
  max-width: 100%;
  height: auto;
}

// Form elements

input,
textarea {
  display: block;
  padding: 1em;
  width: 100%;
  outline: 0;
  border: 0;
}

input:focus,
textarea:focus {
  transition-duration: 0.25s;
}

// Button

button {
  outline: 0;
}

// Layout

footer {
  border-top: 0.0625rem solid palette(grey, xx-light);

  p {
    font-size: 1rem;
    margin-top: 1.375em;
  }
}

// Table style

table {
  width: 100%;
  color: palette(grey, x-dark);

  td, th{
    border-width: 0.125rem;
    border-style: solid;
    padding: 0.5rem;
  }

  thead {
    th {
      color: $white;
    }
  }
}
