// ==========================================================================
// Layout
// ==========================================================================

.grid__row {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  // Make nested grid 100%
  @media (min-width: 801px) {
    margin-top: 1em;
  }

  [class*='grid__column--'] > & {
    width: 100%;
  }
}

[class*='grid__column--'] {
  flex-shrink: 0;
  flex-grow: 1;
  @media (max-width: 800px) {
    margin-top: 2.5em;
  }
  @media (min-width: 801px) {
    float: left;
  }
}

[class*='grid__column--']:first-child {
  @media (min-width: 801px) {
    margin-left: 0;
    margin-top: 0;
  }
}

[class*='grid__column--']:last-child {
  @media (min-width: 801px) {
    float: right;
  }
}

@for $i from 1 through $column-count {

  // Generate column modifier classes that are compiled based on algorithms
  .grid__column--#{$i} {
    @media (max-width: 800px) {
      flex-basis: 100%;
    }
    @media (min-width: 801px) {
      flex-basis: calc(#{$i} / #{$column-count} * 100%);
    }
  }
  //Margin left like an actual div is there
  .grid__pull--#{$i} {
    @media (min-width: 801px) {
      margin-right: calc(#{$i} / #{$column-count} * 100%);
    }
  }

  .grid__push--#{$i} {
    @media (min-width: 801px) {
      &:first-child {
        margin-left: calc(#{$i} / #{$column-count} * 100%);
      }
      //Updates variable for push value to include gutter it's missing
      margin-left: calc(#{$i} / #{$column-count} * 100%);
    }
  }
}

//Just for visual display of grid layout
.grid__column--style-guide {
  text-align: center;
  padding: 1em 0;
  background-color: lighten($color-secondary, 40%);
}

.grid__container {
  max-width: 120rem;
  width: 90%;
  margin: 0 auto;
}

// ==========================================================================
// Panels
// ==========================================================================
//Classes that give unique spacing to grid__column layouts

%panel-default {
  padding-top: 1.875rem;
  padding-bottom: 1.25rem;
}

%panel-padding {
  padding-top: 5rem;
  padding-bottom: 2.125rem;
}

.panel {
  @extend %panel-default;

  &__centered {
    @extend %panel-default;
    @extend %center-align;
  }

  &__padded {
    @extend %panel-padding;

    &--centered {
      @extend %center-align;
      @extend %panel-padding;
    }
  }
}
