// ==========================================================================
// Global Config
// ==========================================================================

// Font Stacks

$font-url--google: 'http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic|Merriweather:400,300italic,300,400italic,700,700italic,900,900italic';
$font-family--primary: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-family--secondary: "Merriweather", Helvetica, Arial, sans-serif;

// Font Weights

$font-weight--thin: 100;
$font-weight--light: 300;
$font-weight--medium: 400;
$font-weight--bold: 700;
$font-weight--ultra-bold: 900;

//Media query sizes
$small: 600px;
$medium: 769px;
$wide: 1024px;
$huge: 1400px;

// Descriptive Base Colors

$white: #fff;
$black: #0b0b0b;
$grey: #797e83;

$bc-lochmara: #008acd;
$bc-mountain-meadow: #189b50;
$bc-carnation: #ee232d;
$bc-candycorn: #FF7604;
$bc-siren: #87003F;
$bc-siren-dark: darken($bc-siren, 10%) !default;
$bc-orient: #005287;

// Color Usage

$color-primary: $bc-lochmara;
$color-secondary: $bc-candycorn;
$color-accent: $bc-mountain-meadow;
$color-shadow: rgba($black, .2);

// Color Palette Modifiers

$color-palettes: (
        grey: (
                xx-light : lighten($grey, 43%),
                x-light : lighten($grey, 35%),
                light : lighten($grey, 12%),
                base : $grey,
                dark : darken($grey, 8%),
                x-dark : darken($grey, 16%),
                xx-dark : darken($grey, 32%)
        ),
        black: (
                light : lighten($black, 10%),
                base : $black,
                dark : darken($black, 10%)
        )
);
// UI Colors

$ui-colors: (
        default-special : $bc-lochmara,
        default : mix($bc-lochmara, $grey),
        default-alt : mix($bc-lochmara, $black),
        success : $bc-mountain-meadow,
        error : $bc-carnation,
        warning : $bc-candycorn,
        info : $bc-siren
);

$list-colors: (ordered-list, unordered-list, alternate-list);

// Text

$base__font-size: 16px;
$base__line: 24px;
$letter-space: 1px;

// Border radius

$br--default: .4em;
$br--round: 50%;

// Transitions

$trns-duration: .3s;

// Path to Assets

$path--rel: "../img";

// Grid

$g-col-width: 65px;
$g-gutter-width: 20px;
$g-col-count: 12;
$g-cont-max-w: 1050px;