// ==========================================================================
// Placeholders
// ==========================================================================

// Panel

%panel-default {
  padding-top: em(30px);
  padding-bottom: em(20px);
}

%panel-padding {
  padding-top: em(80px);
  padding-bottom: em(34px);
}