// ==========================================================================
// Grid Container
// ==========================================================================

.grid {
  @extend %clearfix;
  @extend .centered;
  width: 90%;
  position: relative;
  z-index: 2;
  // Make nested grid 100%
  [class*="grid__col--"] > & {
    width: 100%;
  }

  // Set a max-width for grid container
  @media (min-width: 1100px) {
    max-width: $g-cont-max-w;
  }
}