// ==========================================================================
// Buttons
// ==========================================================================

%btn-small{

}
.btn {
  @include button-colors--primary($ui-colors);
}

.btn {
  @include button-colors--secondary($ui-colors);
}

[class^="btn-"] {
  @extend %center-align;
  @extend %btn;
  margin-bottom: em(20px, 14px);
  @media (min-width: 1px) and (max-width: 768px) {
    width: 100%;
  }
  @media (min-width: 769px) {
    width: auto;
    display: inline-block;
    @include doubly(20px);
  }
}