// ==========================================================================
// Placeholders
// ==========================================================================

// Nav Items

%nav-item-disp {
  display: inline-block;
  margin: 0 em(12px);
}

%nav-item-link {
  font-size: em(18px);
  font-weight: $font-weight--light;
  display: block;
  padding: em(8px, 18px);
  border: 1px solid transparent;
}

%nav-item-on {
  color: palette(black);
  border-color: $black;
}

// Headlines

%hdln-prim {
  font-weight: $font-weight--light;
  font-size: em(42px);
  line-height: (46px/42px);
  margin-top: 0;
}

%hdln-sec {
  letter-spacing: $letter-space;
  font-weight: $font-weight--thin;
  font-size: em(24px);
  font-family: $font-family--secondary;
}
%hdln-rest{
  color: palette(grey, light);
  letter-spacing: $letter-space;
  font-weight: $font-weight--thin;
  font-family: $font-family--secondary;
}

// Buttons

%btn {
  padding: 15px 30px;
  border: 0;
  color: $white;
  text-transform: uppercase;
  font-size: em(14px);
  letter-spacing: 1px;
  font-weight: $font-weight--bold;
  transition: opacity $trns-duration;
  display: block;
  &:active {
    opacity: initial;
  }
}

// Icons

%icn--ui {
  line-height: 0;
  cursor: pointer;
}