// ==========================================================================
// Form Elements
// ==========================================================================

.form {
  @include element(label) {
    @include modifier(checkbox) {
      position: relative;
      padding-left: em(16px, 16px);
      display: block;
    }
    @include modifier(hidden) {
      @extend .srt;
    }
    display: block;
    margin-bottom: em(10px);
  }

  @include element(input) {
    font-size: em(16px);
    margin-bottom: em(20px, 18px);
    border: 2px solid palette(grey, x-light);
    background: palette(grey, xx-light);
    color: palette(black, dark);
    font-weight: $font-weight--light;
    &:hover {
      border-color: mix($color-primary, $white);
    }
    &:focus {
      border-color: $color-primary;
    }
  }

  @include element(btn) {
    @extend %btn;
    background: $color-primary;
  }
  @include element(checkbox) {
    display: inline-block;
    position: relative;
    left: em(-12px, 16px);
    width: auto;
  }
}