// ==========================================================================
// Icons
// ==========================================================================

// Logo

.site-logo {
  @include img-replace("logo-chicago.jpg", 154px, 96px, inline-block);
  background-size:100%;
}

// UI

.icn {

  // Nav Toggle
  @include modifier(nav-toggle) {
    @extend %icn--ui;
    width: 25px;
    height: 17px;
    border-top: solid 3px palette(grey);
    border-bottom: solid 3px palette(grey);
    position: relative;
    @include p-el(before, 25px, 3px) {
      background: palette(grey, light);
      top: 4px;
    }
  }
}