// ==========================================================================
// Mixins
// ==========================================================================

//Media Queries

@mixin media-query($media-query) {
  @if $media-query == small {
    @media only screen and (max-width: $medium - 1) { @content; }
  }

  @if $media-query == medium {
    @media only screen and (min-width: $medium) { @content; }
  }

  @if $media-query == medium-only {
    @media only screen and (min-width: $medium) and (max-width: $wide - 1) { @content; }
  }

  @if $media-query == wide {
    @media only screen and (min-width: $wide) { @content; }
  }

  @if $media-query == huge {
    @media only screen and (min-width: $huge) { @content; }
  }
}

// Just some media queries
@mixin small-only { @include media-query(small) { @content }; }
@mixin medium { @include media-query(medium) { @content }; }
@mixin medium-only { @include media-query(medium-only) { @content }; }
@mixin wide { @include media-query(wide) { @content }; }
@mixin huge { @include media-query(huge) { @content }; }


//Before or After background

@mixin background-slider($pseudo-before-after) {
  &:#{$pseudo-before-after} {
    @extend %btn__after;
    @content;
  }
}

// Button distance setup

@mixin box-shadow--distance($base-value, $final-value, $box-color, $shadow-color: rgba(palette(grey, x-dark), .75)){
  box-shadow: 0 0 0 ($base-value + 0px) #{$box-color}, 0 ($base-value + 0px) ($base-value + 4px) ($base-value + 0px) $shadow-color;
  &:hover {
    box-shadow: 0 0 0 ($base-value + $final-value) #{$box-color}, 0 ($final-value * 3) ($final-value * 4) ($final-value) $shadow-color;
  }
}

// Generate modifier color classes

@mixin button-colors--primary($map) {
  @each $theme, $color in $map {
    &__#{$theme} {
      box-shadow: 0 0 0 2px $color;
      color: $color;
      @extend %btn__primary;
      span {
        position: relative;
        z-index: 10;
      }
      @include background-slider(after) {
        background-color: $color;
        @include transition(all 0.25s ease-in);
      }
      &:hover {
        box-shadow: 0 0 0 2px $color;
        color: white;
        &:after {
          height: 100%;
        }
      }
    }
  }
}

@mixin button-colors--secondary($map) {
  @each $theme, $color in $map {
    &__#{$theme} {
      @extend %btn__secondary;
      background-color: $color;
      @include box-shadow--distance(0px, 6px, #{$color});
    }
  }
}

@mixin list-maker($list-type, $active-color: $bc-siren-dark, $list-style: null) {
  .#{$list-type}-list {
    @if $list-style == "none" {
      padding-left: 0;
    } @else {
      padding-left: em(16px);
    }
    list-style: $list-style;
    &__item {
      @if $list-style == "none" {
        &:nth-child(even) {
          background-color: darken($white, 5%);
        }
      }
      padding-bottom: em(4px);
      &--active {
        color: $active-color;
        font-weight: bold;
      }
    }
  }
}

// Generating :before or :after pseudo-element shapes

@mixin p-el($el,
$el-w: null,
$el-h: null) {
  @if $el == "before" or $el == "after" {
    &:#{$el} {
      @extend %pseudos;
      width: $el-w;
      height: $el-h;
      @content;
    }
  } @else {
    @error "`#{$el}` is not a valid pseudo-element.";
  }
}

// Image replacement

@mixin img-replace($img, $w, $h, $disp: block) {
  background-image: url('#{$path--rel}/#{$img}');
  background-repeat: no-repeat;
  width: $w;
  height: $h;
  display: $disp;
}

// Adjacent sibling margins

@mixin doubly($margin: 1em) {
  & + & {
    margin-left: $margin;
    @content;
  }
}

// Table setup Mixin
@mixin table-colors($table-type, $main-color, $copy-color) {
  .#{$table-type}-table {
    td, th {
      @if $table-type == "alternate" {
        border: none;
      } @else {
        border-color: $copy-color;
      }
    }
    thead {
      th {
        color: $copy-color;
        background-color: $main-color;
      }
    }
    tbody {
      tr {
        @if $table-type == "alternate" {
          border-top: solid em(2px) $main-color;
        } @else {
          &:nth-child(even) {
            background-color: lighten($main-color, 50%);
          }
          &:nth-child(odd) {
            background-color: $copy-color;
          }
        }
      }
    }
    tfoot {
      tr {
        color: $copy-color;
        background-color: $main-color;
      }
    }
  }
}